<!DOCTYPE html>
<html lang="Ur">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <div>
            <img src="./Urdu Spellify1.png" alt="Urdu Spellify Logo">
        </div>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class="about-section">
        <div class="container">
            <h2>Welcome to Urdu spell checking system</h2>
            <h4>Introduction</h4>
            <p>The Urdu Spellify is designed to detect and correct misspelled words within Urdu sentences, which will be
                used in a web application. When someone types in Urdu on the web app, the system will check for any
                mistakes in the words or sentences. If it finds any misspelled, it will suggest the correct word in
                sentence. Once identified, it suggests the correct word in sentence to improve the accuracy of the text.
            </p>
            <h4>Objectives</h4>
            <p>Error Detection and Correction: The primary objective of the system is to accurately detect misspelled
                words and erroneous sentences in Urdu text inputted by users. It aims to provide real-time feedback and
                suggest appropriate corrections to enhance the accuracy and readability of the text.

                Replacement words: For each misspelled word based on their similarity
                (measured by edit distance) to known words.

                Probability Calculation: Calculate the probability of each candidate
                replacement word being the correct one, using both unigram and bigram
                probabilities derived from a corpus of text
                4. Spell Correction: Suggest the most likely replacement word for each misspelled
                word based on the calculated probabilities.

                5. User-Friendly Interface: The system aims to offer a user-friendly web
                application interface that enables users to easily input Urdu text and receive spell
                checking suggestions intuitively.

                6. Language Specificity and Accuracy: The system strives to account for the unique
                linguistic characteristics and spelling rules of the Urdu language.</p>
            <h4>LITERATURE SUMMARY</h4>
            <p>In previous many researcher work for Urdu spell checker system as a natural language processing toolkit
                for Urdu. It includes tools like a word tokenizer, sentence tokenizer, and part-of-speech tagger. The
                word tokenizer handles issues in Urdu like space omission and compound words. Sentence tokenization uses
                machine learning and rules. Sentiment analysis in Urdu is also reviewed. Another paper detects offensive
                language in Urdu and Roman Urdu using n-grams and machine learning. Developing cyberbullying detection
                raises ethical concerns around privacy, bias, and requiring a comprehensive approach.
            </p>
            <h4>Aim Of Project</h4>
            <p>The aim of this project is to develop an efficient Urdu spell checker to assist users in correcting
                spelling errors in Urdu text. Despite the increasing use of Urdu language in digital communication,
                there is a lack of robust spell checking tools tailored for Urdu text. The spell checker will be
                designed to automatically detect and suggest corrections for misspelled words in Urdu documents, emails,
                social media posts, and other forms of digital content.
            </p>
            <h4>Methodology</h4>
            <p>1. Data Collection

                Gather a large corpus of Urdu text data comprising correctly spelled words and sentences. The data
                collection process involves sourcing text from various sources such as books, newspapers, websites,
                social media platforms, and digital archives

                2. Preprocessing

                This process involves several tasks aimed at cleaning the data, standardizing its format, and ensuring
                consistency across the dataset.

                3. Error Detection

                Error detection is a critical component of the Urdu spell checker system, involving the development of
                algorithms to identify misspelled words and erroneous sentences within the Urdu text input.


            </p>
            <h4>Conclusion</h4>
            <p>the author's dedication to advancing language technology for Urdu speakers is evident through meticulous
                research, proficient skills in web development and natural language processing, and a commitment to
                user-centric design. By tackling the complexities of Urdu language characteristics and actively engaging
                with the community for feedback, the author has laid a strong foundation for the development of an Urdu
                spell checker. The collection of a vast corpus of Urdu text further enhances the project's potential for
                accuracy and effectiveness.
            </p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Urdu Spellify All rights reserved.</p>
    </footer>

</body>

</html>